################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Domain/obj
/Domain/bin/Debug/net8.0
/Services/bin/Debug/net8.0
/Services/obj
/Application/bin/Debug/net8.0
/Application/obj
/Presentation/bin/Debug/net8.0
/Presentation/obj
/Tests/bin/Debug/net8.0/Application.deps.json
/Tests/bin/Debug/net8.0
/Tests/obj
